body{background-color: aquamarine;}
h1{background-color: aquamarine;}
h2:hover{background-color: blueviolet;}
img{border-radius:15%;}
tr{background-color: rgb(124, 124, 124);}
tr{border-radius: 15%;}